a{
  color:palevioletred;
}

a:hover{
  color:lightpink;
}

input:focus {
    background-color:lightgray;
  }
  #button {
    margin-top: 1cm;
    margin-left: 7cm;
    font-size: 16px;
    border: none;
    background-color:pink;
    padding: 15px 32px;
    cursor: pointer;
  }
  h3{
    color:hotpink;
}